.contentsBox {
    display: flex;
    box-shadow: 2px;
    border-radius: 10px;
    border: 1px solid rgba(236, 236, 236, 0.747);
    width: 400px;
    height: 600px;
    margin: auto;
    flex-direction: column;
    background-color: #fff;
}
.listHeader {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin: 0;
    gap: 5px;
}
.listHeader > * {
    padding: 0px 30px 0px 30px;
}
.listHeader:first-child {
    padding-top: 20px;
}
.listHeader:after {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(228, 233, 232, 0.473);
    height: 10px;
    width: 100%;
    padding: 0;
}
.leftovers {
    padding-top: 20px;
    color: #19ce60;
    font-weight: 700;
}
.listDate {
    display: flex;
    align-items: center;
}
.btns {
    display: flex;
    flex-direction: column;
}
.btns > button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: rgb(77, 77, 77);
    font-size: 12px;
    padding: 0;
}
.date {
    font-size: 25px;
    font-weight: 800;
    color: rgb(77, 77, 77);
}
.listbox {
    padding: 20px;
    overflow: scroll;
    height: 400px;
}
.listbox > ul {
    display: flex;
    flex-direction: column;
}
.listNode[data-checked="true"]:before {
    content: "";
    background-color: rgb(230, 131, 131);
    width: 240px;
    height: 2px;
    display: block;
    position: absolute;

    animation: 0.5s ease-in-out checkEffect;
}
.listWrap {
    display: flex;
    align-items: center;
    animation: 0.5s ease-in-out addEffect;
    width: 100%;
    height: 40px;
}
.listNode {
    height: 40px;
    display: flex;
    align-items: center;
}
.removeBtn{
    color:white;
    width:50px;
    font-weight: 800;
    padding:5px;
    border:none;
    border-radius:3px;
    background-color:rgb(88, 88, 88);
    transition: all 0.5s;
}
.removeBtn:hover{
    background-color:rgb(43, 43, 43);


}
@keyframes checkEffect {
    0% {
        width: 0px;
        opacity: 0;
    }
    100% {
        width: 240px;
        opacity: 1;
    }
}
@keyframes addEffect {
    0% {
        margin-left: 15px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}
.listNode > button {
    width: 60px;
}
.listNode > span {
    padding-left: 10px;
}
.list {
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputForm {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
}
.inputTitle,
.inputDate {
    color: rgb(138, 138, 138);
    font-weight: bold;
    background: rgb(238, 238, 238);
    font-family: "Nanum Gothic", sans-serif;
}
.inputDate {
    width: 120px;
}
